<% if users.exists? %>
  <table class="table">
    <thead>
      <tr>
        <th>name</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td>Followings: <%= user.followings.count %></td>
        <td>Followers: <%= user.followers.count %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p>You hane no followers yet</p>
<% end %>