<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>User Info</h2>
        <div>
          <%= image_tag current_user.image.variant(resize: "100x100!"), class: "rounded-circle" if current_user.image.attached? %>
        </div>
    </div>
    <div class="row">
      <div class="col">
        
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <%= image_tag current_user.image.variant(resize: "100x100!"), class: "rounded-circle" if current_user.image.attached? %>
    </div>
    <div class="col-md-9">
      <h4></h4>
      <h3><%= current_user.name %></h3>
      <p><%= current_user.introduction %></p>
    </div>
  </div>
</div>