<h1>Users#Index</h1>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render 'layouts/user_info' %>
      <%= render 'layouts/new_book' %>
    </div>
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>image</th>
            <th>name</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td>
                <div><%= image_tag user.get_profile_image(100,100) %></div>
                <div><%= user.name %></div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>