
<div class="container-fluid">
  <di class="row">
    <div class="col-6 mx-auto py-4">
      <h1>welcome to <i class="fa-solid fa-book"></i><strong>Bookers</strong> !!</h1>
    </div>
  </di>
</div>

<div class="footer container-fluid">
  <div class="row">
    <p class="mx-auto pt-4">CopyRight Infratop.inc</p>
  </div>
</div>
</div>